USER_DB_NAME=aiox_users
USER_DB_USER=aiox_user
USER_DB_PASSWORD=change-user-db-password
USER_DB_PORT=5433

PRODUCT_DB_NAME=aiox_products
PRODUCT_DB_USER=aiox_product
PRODUCT_DB_PASSWORD=change-product-db-password
PRODUCT_DB_PORT=5434

NOTIFICATION_DB_NAME=aiox_notifications
NOTIFICATION_DB_USER=aiox_notification
NOTIFICATION_DB_PASSWORD=change-notification-db-password
NOTIFICATION_DB_PORT=5435

RABBITMQ_DEFAULT_USER=aiox
RABBITMQ_DEFAULT_PASS=change-rabbitmq-password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MGMT_PORT=15672

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-grafana-password
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
