USER_API_PORT=8081
PRODUCT_API_PORT=8082
NOTIFICATION_API_PORT=8083

SPRING_PROFILES_ACTIVE=docker
JWT_SECRET=change-this-local-jwt-secret-with-at-least-32-chars
JWT_EXPIRATION_MS=3600000

USER_DB_URL=jdbc:postgresql://user-db:5432/aiox_users
USER_DB_USERNAME=aiox_user
USER_DB_PASSWORD=change-user-db-password

PRODUCT_DB_URL=jdbc:postgresql://product-db:5432/aiox_products
PRODUCT_DB_USERNAME=aiox_product
PRODUCT_DB_PASSWORD=change-product-db-password

NOTIFICATION_DB_URL=jdbc:postgresql://notification-db:5432/aiox_notifications
NOTIFICATION_DB_USERNAME=aiox_notification
NOTIFICATION_DB_PASSWORD=change-notification-db-password

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=aiox
RABBITMQ_PASSWORD=change-rabbitmq-password
MAIL_HOST=mailhog
MAIL_PORT=1025
